* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Museo Sans Light", sans-serif;
}

button {
  background-color: #ffd200;
  border: none;
  border-radius: 10px;
  transition: 0.2s;
  color: #333333;
}

button:hover {
  cursor: pointer;
  background-color: #ffe466;
}

h1,
h2,
h3 {
  color: #333333;
}

input {
  border-radius: 10px;
  border: 1px solid #999999;
  color: #999999;
  outline: none;
}

input:focus {
  border: 1px solid #ffd200;
}

.main {
  padding: 47px 0px 50px 0px;
  background-color: #f5f5f5;
}

.portfolio {
  background-color: #f5f5f5;
}

li {
  list-style-type: none;
}

.slider__img:hover {
  cursor: grabbing;
}

@media (min-width: 310px) {
  .continer {
    max-width: 65%;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  .continer {
    width: 65%;
    margin: auto;
  }
}
@media (min-width: 310px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px 10px 0px;
  }
  .navbar__button {
    padding: 15px 26px 14px 26px;
    font-size: 10px;
    font-weight: bold;
    font-family: "Museo Sans Bold";
  }
  .navbar__info-contacts {
    display: none;
  }
  .logo-img_max {
    display: none;
  }
}
@media (min-width: 910px) {
  .navbar__info {
    display: flex;
    align-items: center;
  }
  .contacts__info-text {
    font-size: 13px;
    color: #333333;
    font-weight: 300;
    text-align: right;
  }
  .navbar__info-contacts {
    margin-right: 30px;
    display: block;
  }
  .contacts__info_room {
    color: #333333;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    font-family: "Museo Sans Bold";
  }
  .navbar__button {
    padding: 18px 29px 18px 35px;
    font-size: 13px;
    font-weight: bold;
  }
  .logo-img {
    display: none;
  }
  .logo-img_max {
    display: block;
  }
}
@media (min-width: 310px) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero__title {
    font-size: 21px;
    margin-bottom: 12px;
    max-width: 260px;
    font-family: "Museo Sans Bold";
  }
  .hero__subtitle {
    font-size: 16px;
    margin-bottom: 18px;
    max-width: 265px;
    font-family: "Museo Sans Light";
    color: #333333;
  }
  .main-img {
    max-width: 270px;
    max-height: 230px;
  }
  .hero-list__etem {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    line-height: 16px;
  }
  .hero-list__img {
    max-width: 20px;
    max-height: 20px;
    border: 2px solid #ffd200;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    margin-right: 20px;
  }
  .hero-list__text {
    font-size: 12px;
    max-width: 200px;
    font-family: "Museo Sans Light";
  }
  .main-img-max {
    display: none;
  }
}
@media (min-width: 910px) {
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
  .hero__title {
    font-size: 33px;
    max-width: 384px;
    margin-bottom: 48px;
    line-height: 1.5;
    font-family: "Museo Sans Bold";
  }
  .hero__subtitle {
    font-size: 17px;
    max-width: 400px;
    font-family: "Museo Sans Bold";
    color: #333333;
    margin-bottom: 70px;
  }
  .hero-list__text {
    font-size: 14px;
    max-width: 232px;
    color: #333333;
    line-height: 1.5;
    font-family: "Museo Sans Light";
  }
}
@media (min-width: 1290px) {
  .main-img {
    display: none;
  }
  .main-img-max {
    display: block;
    width: 400px;
    height: 400px;
  }
  .hero-list__etem:last-child {
    margin-bottom: 0px;
  }
}
@media (min-width: 1550px) {
  .main-img {
    display: none;
  }
  .main-img-max {
    display: block;
    width: 570px;
    height: 488px;
  }
}
@font-face {
  font-family: "Museo Sans Light";
  src: url("../fons/MuseoSans/MuseoSansCyrl-300.eot");
  src: url("../fons/MuseoSans/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fons/MuseoSans/MuseoSansCyrl-300.woff") format("woff"), url("../fons/MuseoSans/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans Bold";
  src: url("../fons/MuseoSans/MuseoSansCyrl-700.eot");
  src: url("../fons/MuseoSans/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fons/MuseoSans/MuseoSansCyrl-700.woff") format("woff"), url("../fons/MuseoSans/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@media (min-width: 310px) {
  .offer-block {
    display: flex;
    flex-direction: column;
    padding-top: 51px;
    padding-bottom: 54px;
    align-items: center;
  }
  .offer__title {
    font-size: 17px;
    max-width: 261px;
    font-family: "Museo Sans Bold";
    margin-bottom: 21px;
    color: #333333;
    text-align: center;
  }
  .offer_subtitle {
    font-size: 14px;
    color: #333333;
    font-family: "Museo Sans Light";
    margin-bottom: 28px;
    max-width: 204px;
  }
  .offer__input {
    padding: 22px 80px 22px 22px;
    margin-bottom: 12px;
    width: 100%;
  }
  .offer__button {
    padding: 20px 19px;
    text-align: center;
    font-size: 14px;
    font-family: "Museo Sans Bold";
    max-height: 70px;
    width: 100%;
  }
  .offer__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 27px;
  }
  .offer__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .offer__info-tel > a {
    text-decoration: none;
    color: #333333;
    font-family: "Museo Sans Bold";
  }
  .offer__info-text {
    font-size: 15px;
    font-family: "Museo Sans Light";
    max-width: 205px;
    text-align: center;
    margin-bottom: 19px;
    line-height: 1.5;
  }
  .offer__info-tel {
    font-size: 15px;
    font-family: "Museo Sans Light";
    text-align: center;
    line-height: 1.5;
  }
}
@media (min-width: 1200px) {
  .offer {
    background: url("../img/offer/offer-img.png") no-repeat;
    background-size: contain;
    background-position: center right;
    position: relative;
  }
  .offer::before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
  }
  .offer-block {
    position: relative;
    width: 50%;
    padding-top: 51px;
    padding-bottom: 54px;
    display: block;
    padding-right: 40px;
  }
  .offer__title {
    text-align: left;
    font-size: 24px;
    line-height: 1.5;
    max-width: 350px;
  }
  .offer_subtitle {
    text-align: left;
    margin-bottom: 31px;
    display: block;
    font-size: 16px;
    max-width: 236px;
  }
  .offer__form {
    display: block;
  }
  .offer__input {
    padding: 20px 25px;
    width: 48%;
    margin-bottom: 25px;
  }
  .offer__button {
    padding: 27px 28px;
    font-size: 16px;
    font-family: "Museo Sans Bold";
    width: 100%;
    white-space: nowrap;
    min-height: 70px;
  }
  .offer__input:first-child {
    margin-right: 10px;
  }
  .offer__info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .offer__info-text {
    margin-bottom: 0px;
    text-align: left;
  }
  .offer__info-tel {
    text-align: left;
  }
  .offer__form_block {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 1350px) {
  .offer__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .offer__info-text {
    text-align: center;
    margin-bottom: 10px;
  }
  .offer__info-tel {
    text-align: center;
  }
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 450px;
  width: 80%;
  min-width: 200px;
  background-color: #fff;
  margin: auto;
  padding: 40px;
  min-height: 100px;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  background-color: red;
  border-radius: 0px;
  font-size: 15px;
}

.modal__dialog_title {
  text-align: center;
}

.modal_active {
  display: flex;
}

@media (min-width: 310px) {
  .portfolio {
    background-color: #f5f5f5;
    padding-top: 44px;
    padding-bottom: 64px;
  }
  .portfolio__title {
    text-align: center;
    margin: auto;
    font-size: 20px;
    font-family: "Meseo Sans Bold";
    color: #333333;
    max-width: 715px;
    margin-bottom: 50px;
  }
  .icon-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .arrow-left {
    margin-right: 20px;
    cursor: pointer;
  }
  .arrow-right {
    cursor: pointer;
  }
  .slider {
    margin-bottom: 35px;
  }
  .slider__img {
    margin-right: 0px;
  }
}
@media (min-width: 761px) {
  .slider__img {
    display: flex;
    align-items: center;
    margin-right: 12px;
  }
}
@media (min-width: 1200px) {
  .portfolio {
    padding-top: 100px;
    padding-bottom: 120px;
    position: relative;
  }
  .portfolio__block {
    position: relative;
  }
  .portfolio__title {
    text-align: center;
    margin: auto;
    font-size: 30px;
    font-family: "Meseo Sans Bold";
    color: #333333;
    max-width: 715px;
    margin-bottom: 100px;
  }
  .icon-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .arrow-left {
    margin-right: 30px;
  }
  .portfolio::before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/portfolio/dots_background.jpg");
  }
  .slider {
    margin-bottom: 35px;
  }
  .slider__img {
    margin-right: 25px;
  }
  .slider__img:last-child {
    margin-right: 0px;
  }
}
@media (min-width: 310px) {
  .price {
    padding-top: 53px;
    padding-bottom: 63px;
  }
  .price__title {
    text-align: center;
    font-size: 21px;
    color: #000;
    font-family: "Museo Sans Bold";
    max-width: 315px;
    margin: auto;
    margin-bottom: 60px;
  }
  .price__subtitle {
    margin: auto;
    font-size: 20px;
    font-family: "Mesuo Sans Light";
    margin-bottom: 60px;
    text-align: center;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .cards__img {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #e8e8e8;
    margin-bottom: 30px;
    transition: 0;
  }
  .cards__img:hover {
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
  }
  .cards__img_title {
    font-size: 14px;
    font-family: "Museo Sans Ligth";
    color: #000;
    margin-top: 30px;
    margin-bottom: 23px;
  }
  .cards__img_subtitle {
    font-style: 16px;
    font-family: "Museo Sans Bold";
    margin-bottom: 31px;
    color: #333333;
    text-decoration: none;
    position: relative;
  }
  .cards__img_subtitle::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0px;
    width: 100%;
    height: 3px;
    background-color: #ffd200;
    display: block;
    transition: 0.2s;
  }
  .cards__img_subtitle:hover::after {
    height: 12px;
    z-index: -1;
  }
  .cards__img_max {
    display: none;
  }
  .cards__img_min {
    position: relative;
  }
  .cards__img_min::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
    opacity: 0;
    transition: 0.2s;
  }
  .cards__img_min:hover::before {
    opacity: 1;
  }
  .cards__img_min > img {
    display: block;
  }
}
@media (min-width: 850px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .price {
    padding-top: 100px;
    padding-bottom: 150px;
  }
  .price__title {
    text-align: center;
    font-size: 30px;
    color: #000;
    font-family: "Museo Sans Bold";
    max-width: 515px;
    margin: auto;
    line-height: 1.5;
    margin-bottom: 60px;
  }
  .price__subtitle {
    margin: auto;
    font-size: 20px;
    font-family: "Mesuo Sans Light";
    margin-bottom: 60px;
    text-align: center;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
  }
  .cards__img {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #e8e8e8;
    margin-bottom: 30px;
    transition: 0;
  }
  .cards__img:hover {
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
  }
  .cards__img_max:hover::before {
    opacity: 1;
  }
  .cards__img_title {
    font-size: 18px;
    font-family: "Museo Sans Ligth";
    color: #000;
    margin-top: 30px;
    margin-bottom: 23px;
  }
  .cards__img_subtitle {
    font-style: 16px;
    font-family: "Museo Sans Bold";
    margin-bottom: 47px;
    color: #333333;
    text-decoration: none;
    position: relative;
  }
  .cards__img_subtitle::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0px;
    width: 100%;
    height: 3px;
    background-color: #ffd200;
    display: block;
    transition: 0.2s;
  }
  .cards__img_subtitle:hover::after {
    height: 12px;
    z-index: -1;
  }
  .cards__img_max {
    position: relative;
  }
  .cards__img_max::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
    opacity: 0;
    transition: 0.2s;
  }
  .cards__img_min {
    display: none;
  }
  .cards__img_max {
    display: block;
  }
  .cards__img_max > img {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */