@font-face {
  font-family: "Museo Sans Light";
  src: url("../fons/MuseoSans/MuseoSansCyrl-300.eot");
  src: url("../fons/MuseoSans/MuseoSansCyrl-300.eot?#iefix")
      format("embedded-opentype"),
    url("../fons/MuseoSans/MuseoSansCyrl-300.woff") format("woff"),
    url("../fons/MuseoSans/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans Bold";
  src: url("../fons/MuseoSans/MuseoSansCyrl-700.eot");
  src: url("../fons/MuseoSans/MuseoSansCyrl-700.eot?#iefix")
      format("embedded-opentype"),
    url("../fons/MuseoSans/MuseoSansCyrl-700.woff") format("woff"),
    url("../fons/MuseoSans/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
