.map {
  width: 50%;
}
.footer {
  display: flex;
}
.contacts-block {
  display: flex;
  justify-content: flex-end;
}

.contacts {
  // flex-basis: 50%;
  padding-top: 100px;
  padding-left: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contacts__title {
  font-family: "Museo Sans Bold";
  font-size: 22px;
  line-height: 1.4;
  margin-bottom: 100px;
  max-width: 400px;
  text-align: center;
}
.contacts-list__item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 39px;
}
.contacts-list__icon {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  margin-right: 23px;
}
.contacts-list__text {
  font-family: "Museo Sans Bold";
  color: $text-color;
  font-size: 15px;
}
@media (max-width: 1200px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
  .map {
    width: 100%;
    order: 1;
  }

  .contacts {
    // flex-basis: 50%;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .contacts-block {
    display: flex;
    justify-content: center;
  }
  .contacts__title {
    font-size: 18px;
    max-width: 300px;
  }
}
