@media (min-width: 310px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px 10px 0px;
  }

  .navbar__button {
    padding: 15px 26px 14px 26px;
    font-size: 10px;
    font-weight: bold;
  }
  .navbar__info-contacts {
    display: none;
  }
  .logo-img_max {
    display: none;
  }
}

@media (min-width: 910px) {
  .navbar__info {
    display: flex;
    align-items: center;
  }
  .contacts__info-text {
    font-size: 13px;
    color: $text-color;
    font-weight: 300;
    text-align: right;
  }

  .navbar__info-contacts {
    margin-right: 30px;
    display: block;
  }

  .contacts__info_room {
    color: $text-color;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    font-family: "Museo Sans Bold";
  }
  .navbar__button {
    padding: 18px 29px 18px 35px;
    font-size: 13px;
    font-weight: bold;
  }
  .logo-img {
    display: none;
  }
  .logo-img_max {
    display: block;
  }
}
