* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Museo Sans Light", sans-serif;
}

button {
  background-color: $main-color;
  border: none;
  border-radius: 6px;
  transition: 0.2s;
}
button:hover {
  cursor: pointer;
  background-color: lighten($main-color, 20%);
}

h1,
h2,
h3 {
  color: $text-color;
}
input {
  border-radius: 5px;
  border: 1px solid #999999;
  color: #999999;
  outline: none;
}
input:focus {
  border: 1px solid $main-color;
}

.main {
  padding: 47px 0px 50px 0px;
  background-color: $backround-color;
}

li {
  list-style-type: none;
}

@media (min-width: 310px) {
  .continer {
    max-width: 80%;
    margin: auto;
  }
}

@media (min-width: 1210px) {
  .continer {
    max-width: 60%;
    margin: auto;
  }
}

// @media (min-width: 2000px) {
//   .continer {
//     max-width: 60%;
//     margin: auto;
//   }
// }
