* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Museo Sans Light", sans-serif;
}
// img {
//   max-width: 100%;
// }

button {
  background-color: $main-color;
  border: none;
  border-radius: 10px;
  transition: 0.2s;
  color: $text-color;
}
button:hover {
  cursor: pointer;
  background-color: lighten($main-color, 20%);
}

h1,
h2,
h3 {
  color: $text-color;
}
input {
  border-radius: 10px;
  border: 1px solid #999999;
  color: #999999;
  outline: none;
}
input:focus {
  border: 1px solid $main-color;
}

.main {
  padding: 47px 0px 50px 0px;
  background-color: $background-color;
}

.portfolio {
  background-color: $background-color;
}

li {
  list-style-type: none;
}

.slider__img:hover {
  cursor: grabbing;
}

@media (min-width: 310px) {
  .continer {
    max-width: 65%;
    margin: auto;
  }
}

@media (min-width: 1200px) {
  .continer {
    width: 65%;
    margin: auto;
  }
}

// @media (max-width: 1315px) {
//   .container {
//     width: 73%;
//   }
// }
